#!/bin/sh

NETIF0="eth0"
NETIF1="eth1"

# Activate Dual PI2 Dual Queue AQM on the router
# see https://www.man7.org/linux/man-pages/man8/tc-dualpi2.8.html
#
# If you intend to use non-default parameters for dualpi2, make sure to use the patched iproute2
# see https://github.com/l4STeam/linux?tab=readme-ov-file#compilation
ethtool -K $NETIF0 tso off gso off gro off lro off # I'm not sure if this is needed on a router
tc qdisc add dev $NETIF0 root handle 1: dualpi2

ethtool -K $NETIF1 tso off gso off gro off lro off # I'm not sure if this is needed on a router
tc qdisc add dev $NETIF1 root handle 2: dualpi2

echo "Router ready"

# sleep 10
# Make the change easily visible on Wireshark
# ping -c 1 1.1.1.1 > /dev/null

{% if router.max_bandwidth %}
# Add bandwidth limiting to DUALPI2 - limit forwarded traffic to 1kbit
# Remove the old qdiscs and add new ones with bandwidth control
tc qdisc del dev $NETIF0 root
tc qdisc del dev $NETIF1 root

# TBF for bandwidth limiting, NETEM for delay, and DUALPI2 for AQM
tc qdisc replace dev $NETIF0 root handle 1: tbf rate {{ router.max_bandwidth }} burst 32kbit latency 400ms
# tc qdisc replace dev $NETIF0 parent 1:1 handle 10: netem delay {{ router.delay_config }}
tc qdisc replace dev $NETIF0 parent 10:1 handle 11: dualpi2

tc qdisc replace dev $NETIF1 root handle 1: tbf rate {{ router.max_bandwidth }} burst 32kbit latency 400ms
# tc qdisc replace dev $NETIF1 parent 1:1 handle 10: netem delay {{ router.delay_config }}
tc qdisc replace dev $NETIF1 parent 10:1 handle 11: dualpi2
{% endif %}

echo "Router bandwidth limited to {{ router.max_bandwidth }} kbit/s, delay {{ router.delay_config }}"

# Start node_exporter with qdisc collector enabled
exec node_exporter --collector.disable-defaults --collector.qdisc
