# {{ template_generated_info }}

services:
{% set ns = namespace(instance_counter=1) %}

{% for _ in range(iperf3_clients_reno) %}
  iperf-client{{ ns.instance_counter }}:
    container_name: iperf-client{{ ns.instance_counter }}
    build:
      context: .
      dockerfile: Dockerfile.client
    sysctls:
      - net.ipv4.tcp_congestion_control=reno
    cap_add:
      - NET_ADMIN
    networks:
      iperf-client-net:
        ipv4_address: 172.20.1.{{ 10 + ns.instance_counter }}
    depends_on:
      - iperf-server{{ ns.instance_counter }}

  iperf-server{{ ns.instance_counter }}:
    container_name: iperf-server{{ ns.instance_counter }}
    build:
      context: .
      dockerfile: Dockerfile.server
    cap_add:
      - NET_ADMIN
    networks:
      iperf-server-net:
        ipv4_address: 172.20.2.{{ 10 + ns.instance_counter }}
{% set ns.instance_counter = ns.instance_counter + 1 %}
{% endfor %}

{% for _ in range(iperf3_clients_prague) %}
  iperf-client{{ ns.instance_counter }}:
    container_name: iperf-client{{ ns.instance_counter }}
    build:
      context: .
      dockerfile: Dockerfile.client
    sysctls:
      - net.ipv4.tcp_congestion_control=prague
    cap_add:
      - NET_ADMIN
    networks:
      iperf-client-net:
        ipv4_address: 172.20.1.{{ 10 + ns.instance_counter }}

  iperf-server{{ ns.instance_counter }}:
    container_name: iperf-server{{ ns.instance_counter }}
    build:
      context: .
      dockerfile: Dockerfile.server
    cap_add:
      - NET_ADMIN
    networks:
      iperf-server-net:
        ipv4_address: 172.20.2.{{ 10 + ns.instance_counter }}
{% set ns.instance_counter = ns.instance_counter + 1 %}
{% endfor %}

  router:
    container_name: router
    build:
      context: .
      dockerfile: Dockerfile.router
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      iperf-client-net:
        ipv4_address: 172.20.1.2
      iperf-server-net:
        ipv4_address: 172.20.2.2

  prometheus:
    image: prom/prometheus:v3.4.1
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=10y" # keep the data 10 years
    ports:
      - 9000:9090
    networks:
      iperf-client-net:
        ipv4_address: 172.20.1.3


networks:
  iperf-client-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.1.0/24
          gateway: 172.20.1.1

  iperf-server-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.2.0/24
          gateway: 172.20.2.1

volumes:
  prometheus_data:
