# {{ template_generated_info }}

global:
  scrape_interval: 15s
#    This is not supported in VictoriaMetrics
#    TODO: Replace with appropriate VictoriaMetrics settings
#   evaluation_interval: 15s

scrape_configs:
  # node exporter (on router)
  - job_name: node
    static_configs:
    - targets: ['router:9100']

  # iperf3 exporter (on clients)
{% set ns = namespace(instance_counter=1) %}
{% for name, config_name in instances.items() %}
{% set config = configs.get(config_name) %}
  - job_name: '{{ name }}'
    metrics_path: /probe
    static_configs:
      - targets: # iperf3 servers
        - 172.20.2.{{ 10 + ns.instance_counter }}
    params:
      port: ['5201']
      # Optional: enable reverse mode
      # reverse_mode: ['true']
      # Half TCP and half UDP tests
      mode: ['tcp']
      # Optional: target bitrate in bits/sec (0 for unlimited)
      # (default 1 Mbit/sec for UDP, unlimited for TCP)
      bitrate: ['{{ config.iperf.bitrate }}']
      # Optional: set test period
      # period: ['10s']
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 172.20.1.{{ 10 + ns.instance_counter }}:9579  # iperf3 client
{% set ns.instance_counter = ns.instance_counter + 1 %}
{% endfor %}
